body {
    font-family: 'Roboto', sans-serif;
    background-color: #97bf9d;
    color: #1d2742;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: larger;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 400px;
    height: auto;
}

.container {
    background: #E8F5E9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.file-input {
    margin: 20px 0;
}

button {
    background-color: #1d2742;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #356A35;
}

footer {
    margin-top: 40px;
    color: #555;
}

.result {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}







